<h1 id="nav_item"> my books </h1>
<div class="row">
  <% @users_books.each do |user_book|%>
  <div class="card" style="width: 18rem;">
    <%= image_tag user_book.book.avatar %>
    <div class="card-body">
      <h5 class="card-title"><%= user_book.book.title %></h5>
    </div>
    <span><%= button_to 'Destroy', user_book_path(id: user_book.id),
      method: :delete, class: 'btn btn-danger', id: "destroy" %></span>
  </div>
  <% end %>
</div>

<style>
  #destroy {
    position: relative; 
    margin-left: -50px;
    left: 50%;
    width: 100px;
    bottom: 8px;
  }

  .card-title {
    text-align: center;
  }
</style>